name: Build And Test On Commit

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - run: go mod download
      - run: go test ./... -v -count=1 -parallel=1
      - run: go build -o ./.bin/wfts ./cmd/app/main.go